;; Kanata Config: Windows + Mac Muscle Memory + Smart Shift
;; config for {{.chezmoi.hostname}}

(defcfg
  process-unmapped-keys yes
  log-layer-changes no
  danger-enable-cmd yes
   concurrent-tap-hold yes)

(defsrc

)


(defalias
    ;; --- LAYERS & SPECIALS ---
    wdmgmt (tap-hold 200 200 esc (layer-toggle window_c))
    spc_layer (tap-hold 200 300 spc (layer-toggle extended))
    os_app (one-shot 1000 (layer-toggle launcher))
    smart_thumb (tap-hold-press 200 200 @os_app lmet)
    smart_thumb_r (tap-hold-press 200 200 @os_app rmet)

    ;; Smart Shift

    ;; --- SMART SHIFT COMPONENTS ---
    ;; 1. One Shot Shift: Stays active for 1000ms after tapping
    oneshot_sft (one-shot 1000 lsft)

    ;; 2. Caps Word: specialized caps lock that turns off after 2s or non-alpha key
    caps_wrd    (caps-word 2000)

    ;; 3. The Dance: Tap 1x = OneShot, Tap 2x = CapsWord
    ;; IMPORTANT: Actions must be inside ( ... )
    sft_dance   (tap-dance 500 (@oneshot_sft @caps_wrd))

    ;; 4. The Hold: Tap = Dance, Hold = Normal Shift
    smart_sft   (tap-hold 200 200 @sft_dance lsft)


  ;; --- APP SHORTCUTS ---
  term M-C-S-A-t
  web  M-C-S-A-z
  kill M-q
  code M-C-S-A-c
  mail M-C-S-A-e
  todo M-C-S-A-t
  flmg M-C-S-A-f
  ai   M-C-S-A-a
  obsd M-C-S-A-o



;; ___ COMMANDS Shortcuts __
  ocr  M-C-S-o
  chezmoi_edit(cmd /bin/launchctl asuser 501 /usr/bin/sudo -u barbo /opt/homebrew/bin/chezmoi edit --watch)
  shot S-M-s
  clip M-C-S-A-p
 )




(defchordsv2
  (z x) (layer-while-held emoji) 50 first-release ()
)

(deflayermap (main)
  caps @wdmgmt
  IntlBackslash `
  spc @spc_layer
  lsft @smart_sft
  lmet @smart_thumb
  rmet @smart_thumb_r
  f1 🔅
  f2 🔆
  f3 mctl
  f4 sls
  f5 fn
  f6 lrld
  f10 🔇
  f11 🔉
  f12 🔊
)


(deflayermap (launcher)
t @term
z @web
o @obsd
q @kill
c @code
f @flmg
e @mail
p @clip
a @ai
;;t @todo
)


(deflayermap (extended)
IntlBackslash @chezmoi_edit
` @chezmoi_edit
1 C-M-A-S-1
o @ocr
p @clip
s @shot
caps caps
f5 lrld
a C-a
;;vim movement
h left
j down
k up
l right
{{- if eq .chezmoi.os "darwin" }}
b A-left
w A-right
{{- end }}
{{- if eq .chezmoi.os "windows" }}
b C-left
w C-right
{{- end }}
)
( deflayermap (emoji)
 r (unicode 🔴)
 o (unicode 🟠)
 g (unicode 🟢)
 y (unicode 🟡)
 n (unicode 🏥)
 i (unicode 🧊)
 h left
 j down
 k up
 l right

)
{{- if eq .chezmoi.os "darwin" }}
(include yabai.kbd)
{{- end }}

{{- if eq .chezmoi.os "windows" }}
(include komorebi_w.kbd)
{{- end }}
