
{{- $yabai := printf "cmd sudo -u %s /opt/homebrew/bin/yabai -m" .chezmoi.username -}}

(deflayermap (window_c)
  ;; --- System ---
  f5      ({{ $yabai }} --restart-service)

  ;; --- Window Management ---
  q       ({{ $yabai }} window --close)
  m       ({{ $yabai }} window --minimize)
  return  ({{ $yabai }} window --warp first)
  tab     ({{ $yabai }} window --focus recent)
  \       ({{ $yabai }} window --toggle float --grid 4:4:1:1:2:2)  ;; center

  ;; --- Window States (Toggle) ---
  t       ({{ $yabai }} window --toggle float)
  .       ({{ $yabai }} window --toggle zoom-fullscreen)
  ,       ({{ $yabai }} window --toggle zoom-parent)
  /       ({{ $yabai }} window --toggle split)
  p       ({{ $yabai }} window --toggle pip)
  s       ({{ $yabai }} window --toggle sticky)

  ;; --- Focus (Vim style) ---
  h       ({{ $yabai }} window --focus west)
  j       ({{ $yabai }} window --focus south)
  k       ({{ $yabai }} window --focus north)
  l       ({{ $yabai }} window --focus east)

  ;; --- Focus Cycle ---
  [       ({{ $yabai }} window --focus prev)
  ]       ({{ $yabai }} window --focus next)

  ;; --- Stack Navigation ---
  u       ({{ $yabai }} window --focus stack.prev)
  i       ({{ $yabai }} window --focus stack.next)

  ;; --- Warp (Arrow keys) ---
  left    ({{ $yabai }} window --warp west)
  down    ({{ $yabai }} window --warp south)
  up      ({{ $yabai }} window --warp north)
  right   ({{ $yabai }} window --warp east)

  ;; --- Resize Horizontal ---
  -       ({{ $yabai }} window --resize left:-50:0)
  =       ({{ $yabai }} window --resize right:50:0)

  ;; --- Layout Controls ---
  r       ({{ $yabai }} space --balance)
  e       ({{ $yabai }} space --rotate 90)
  w       ({{ $yabai }} space --rotate 270)
  x       ({{ $yabai }} space --mirror x-axis)
  y       ({{ $yabai }} space --mirror y-axis)

  ;; --- Layout Mode Switching ---
  b       ({{ $yabai }} space --layout bsp)
  v       ({{ $yabai }} space --layout stack)
  c       ({{ $yabai }} space --layout float)

  ;; --- Space Navigation ---
  9       ({{ $yabai }} space --focus prev)
  o       ({{ $yabai }} space --focus next)
  grave   ({{ $yabai }} space --focus recent)

  ;; --- Space Focus (Numbers) ---
  1       ({{ $yabai }} space --focus 1)
  2       ({{ $yabai }} space --focus 2)
  3       ({{ $yabai }} space --focus 3)
  4       ({{ $yabai }} space --focus 4)
  5       ({{ $yabai }} space --focus 5)
  6       ({{ $yabai }} space --focus 6)
  7       ({{ $yabai }} space --focus 7)
  8       ({{ $yabai }} space --focus 8)

  ;; --- NUMPAD: Display Focus ---
  kp1     ({{ $yabai }} display --focus 1)
  kp2     ({{ $yabai }} display --focus 2)
  kp3     ({{ $yabai }} display --focus 3)
  kp4     ({{ $yabai }} display --focus west)
  kp5     ({{ $yabai }} display --focus recent)
  kp6     ({{ $yabai }} display --focus east)
  kp8     ({{ $yabai }} display --focus north)
;;  kp-plus  ({{ $yabai }} display --focus next)
;;  kp-minus ({{ $yabai }} display --focus prev)

  ;; --- Sublayer Toggle (Hold 'a' for advanced/move operations) ---
  a       (layer-while-held window_cs)
  lsft    (layer-while-held window_cs)
  rsft    (layer-while-held window_cs)
)

(deflayermap (window_cs)
  ;; --- Swap Windows (Vim keys) ---
  h       ({{ $yabai }} window --swap west)
  j       ({{ $yabai }} window --swap south)
  k       ({{ $yabai }} window --swap north)
  l       ({{ $yabai }} window --swap east)

  ;; --- Swap Cycle ---
  [       ({{ $yabai }} window --swap prev)
  ]       ({{ $yabai }} window --swap next)

  ;; --- Resize Vertical ---
  -       ({{ $yabai }} window --resize top:0:-50)
  =       ({{ $yabai }} window --resize bottom:0:50)

  ;; --- Resize All Sides (Arrow keys for fine control) ---
  left    ({{ $yabai }} window --resize left:-20:0)
  right   ({{ $yabai }} window --resize right:20:0)
  up      ({{ $yabai }} window --resize top:0:-20)
  down    ({{ $yabai }} window --resize bottom:0:20)

  ;; --- Send Window to Space ---
  1       ({{ $yabai }} window --space 1 --focus)
  2       ({{ $yabai }} window --space 2 --focus)
  3       ({{ $yabai }} window --space 3 --focus)
  4       ({{ $yabai }} window --space 4 --focus)
  5       ({{ $yabai }} window --space 5 --focus)
  6       ({{ $yabai }} window --space 6 --focus)
  7       ({{ $yabai }} window --space 7 --focus)
  8       ({{ $yabai }} window --space 8 --focus)

  ;; --- Send Window to Space and Follow ---
  n       (cmd "{{ $yabai }} window --space prev --focus prev")
  o       (cmd "{{ $yabai }} window --space next --focus next")

  ;; --- Grid Float (Common positions) ---
  \       ({{ $yabai }} window --toggle float --grid 4:4:1:1:2:2)  ;; center
  return  ({{ $yabai }} window --toggle float --grid 1:1:0:0:1:1)  ;; fullscreen float

  ;; --- NUMPAD: Send Window to Display ---
  kp1     ({{ $yabai }} window --display 1)
  kp2     ({{ $yabai }} window --display 2)
  kp3     ({{ $yabai }} window --display 3)
  kp4     ({{ $yabai }} window --display west)
  kp6     ({{ $yabai }} window --display east)
  kp8     ({{ $yabai }} window --display north)
  ;; kp2     ({{ $yabai }} window --display south)
  ;; kpplus  ({{ $yabai }} window --display next)
 ;;  kpminus ({{ $yabai }} window --display prev)

  ;; --- NUMPAD: Send Window to Display and Follow ---
  kp0     (cmd "{{ $yabai }} window --display next; {{ $yabai }} display --focus next")
  ;; kpdot   (cmd "{{ $yabai }} window --display prev; {{ $yabai }} display --focus prev")
)
