{
  "$schema": "https://raw.githubusercontent.com/LGUG2Z/wpm/refs/heads/master/schema.unit.json",
  "Unit": {
    "Name": "desktop",
    "Description": "Everything I need to work on Windows",
    {{- if eq .chezmoi.hostname "drp-surf-w11"}}
    "Requires:" : ["kanata"]
    {{ else }}
    "Requires": ["komokana", "yasb"]
    {{ end }}
  },
  "Resources": null,
  "Service": {
    "Kind": "Oneshot",
    "ExecStart": {
      "Executable": "cmd.exe",
      "Arguments": [
        "/c",
        "start",
        "raycast://extensions/raycast/raycast/confetti"
      ]
    },
    "Restart": "Never"
  }
}
